.cart{
    background-color: #FFE0B3;
    padding: 20px;
    position: sticky;
    top: 0;
}
.clear-btn{
    width: 100%;
    color: white;
    background-color: #FF3030;
}
.review-btn{
    width: 100%;
    color: white;
    background-color: #FF9900;
    margin-top: 10px;
}